*{
  margin: 0;
  padding: 0;
}

section, div{
  border: 1px solid;
  margin-left: 100px;
  background-color: #907373;
}

div{
  width: 100px;
  height: 100px;
  margin: 20px 100px;
}

section{
  height: 150px;
  width: 500px;
}

div.section{
  display: inline-block;
  margin: 27px 30px;
}

div.lineal{
  display: inline-block;
  margin: 25px;
  margin-left: 100px;
}

#word5{
  margin-top: 0px;
}
