*{
  margin: 0;
  padding: 0;
}

section{
  padding: 50px 20%;
}


div.word{
  font-family: 'Montserrat', sans-serif;
  display: inline;
  height: 50px;
  width: 170px;
  background-color: yellow;
  padding: 10px;
  margin: auto 15px;
}

div.centro{
  background-color: #eb0fb5;
  margin: 15px auto;
}
